.snotifyToast__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0,.1);
  button {
    position: relative;
    width: 100%;
    border: none;
    background: transparent;
    padding: 8px;
    text-transform: capitalize;
    color: #fff;

    &:hover,
    &:focus {
      background: rgba(0,0,0,.1);
      outline: none;
    }

    &:active {
      background: rgba(0,0,0,.5);
    }

    &:last-child {
      &::before {
        content: '';
        width: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        background-color: rgba(0,0,0,.1);
      }
    }
  }

  &--bold {
    font-weight: 700;
  }
}
