:host {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 0;
  transform: translate(0, -50%);
}

.snotify-icon__error {
  fill: #ffcdd2;
}

.snotify-icon__warning {
  fill: #ffccbc;
}

.snotify-icon__info {
  fill: #bbdefb;
}

.snotify-icon__success {
  fill: #c8e6c9;
}
