.material {
  @import "~ng-snotify/styles/material";
}
.simple {
  @import "~ng-snotify/styles/simple";
}
.dark {
  @import "~ng-snotify/styles/dark";
}



.snotify-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

