<span class="snotifyToast__input"
    [ngClass]="{'snotifyToast__input--filled': isPromptActive}"
    (mouseenter)="onPromptEnter()"
    (mouseleave)="onPromptLeave()">
  <input (input)="valueChanged.next($event.target.value);"
         class="snotifyToast__input__field" type="text"
         [id]="id"
         (focus)="isPromptFocused = true"
         (blur)="isPromptFocused = false; onPromptLeave()"/>
  <label class="snotifyToast__input__label" [for]="id">
    <span class="snotifyToast__input__labelContent">{{placeholder | truncate}}</span>
  </label>
</span>
