$success: #c8e6c9;
$info: #bbdefb;
$warning: #ffccbc;
$error: #ffcdd2;
$async: $info;

:host {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 0;
  transform: translate(0, -50%);
}

.snotify-icon__error {
  fill: #ffcdd2;
}

.snotify-icon__warning {
  fill: #ffccbc;
}

.snotify-icon__info {
  fill: #bbdefb;
}

.snotify-icon__success {
  fill: #c8e6c9;
}

.snotify-icon__async {
  fill: #bbdefb;
  animation: async 3s infinite linear;
  transform-origin: 50% 50%;
}


@keyframes async {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

