$simple-bg: lighten(#ffffff, 15%);
$simple-color: lighten(#000000, 15%);
$simple-progressBar: lighten(#c7c7c7, 15%);
$simple-progressBarPercentage: lighten(#4c4c4c, 15%);


$success-bg: lighten(#4CAF50, 15%);
$success-color: lighten(#C8E6C9, 15%);
$success-progressBar: lighten(#388E3C, 15%);
$success-progressBarPercentage: lighten(#81c784, 15%);

$info-bg: lighten(#1e88e5, 15%);
$info-color: lighten(#e3f2fd, 15%);
$info-progressBar: lighten(#1565c0, 15%);
$info-progressBarPercentage: lighten(#64b5f6, 15%);

$warning-bg: lighten(#ff9800, 15%);
$warning-color: lighten(#fff3e0, 15%);
$warning-progressBar: lighten(#ef6c00, 15%);
$warning-progressBarPercentage: lighten(#ffcc80, 15%);

$error-bg: lighten(#f44336, 15%);
$error-color: lighten(#ffebee, 15%);
$error-progressBar: lighten(#c62828, 15%);
$error-progressBarPercentage: lighten(#ef9a9a, 15%);

$async-bg: $info-bg;
$async-color: $info-color;
$async-progressBar: $info-progressBar;
$async-progressBarPercentage: $info-progressBarPercentage;

$confirm-bg: lighten(#009688, 15%);
$confirm-color: lighten(#e0f2f1, 15%);
$confirm-progressBar: lighten(#4db6ac, 15%);
$confirm-progressBarPercentage: lighten(#80cbc4, 15%);

$prompt-bg: lighten(#009688, 15%);
$prompt-color: lighten(#e0f2f1, 15%);

:host /deep/ .snotifyToast-show {
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}

:host /deep/ .snotifyToast-remove {
  max-height: 0 !important;
  overflow: hidden !important;
  transform: translate(0, 50%) !important;
  opacity: 0 !important;
}

:host /deep/ .snotify-simple {
  background-color: $simple-bg !important;
  .snotifyToast__progressBar {
    background-color: $simple-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $simple-progressBarPercentage !important;
  }
  .snotifyToast__title,
  .snotifyToast__body {
    color: $simple-color !important;
  }
}

:host /deep/ .snotify-success {
  background-color: $success-bg !important;
  .snotifyToast__progressBar {
    background-color: $success-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $success-progressBarPercentage !important;
  }
  .snotifyToast__body {
    color: $success-color !important;
  }
}

:host /deep/ .snotify-info {
  background-color: $info-bg !important;
  .snotifyToast__progressBar {
    background-color: $info-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $info-progressBarPercentage !important;
  }
  .snotifyToast__body {
    color: $info-color !important;
  }

}

:host /deep/ .snotify-warning {
  background-color: $warning-bg !important;
  .snotifyToast__progressBar {
    background-color: $warning-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $warning-progressBarPercentage !important;
  }
  .snotifyToast__body {
    color: $warning-color !important;
  }


}

:host /deep/ .snotify-error {
  background-color: $error-bg !important;
  .snotifyToast__progressBar {
    background-color: $error-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $error-progressBarPercentage !important;
  }
  .snotifyToast__body {
    color: $error-color !important;
  }
}

:host /deep/ .snotify-async {
  background-color: $async-bg !important;
  .snotifyToast__progressBar {
    background-color: $async-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $async-progressBarPercentage !important;
  }
  .snotifyToast__body {
    color: $async-color !important;
  }

}

:host /deep/ .snotify-confirm {
  background-color: $confirm-bg !important;
  .snotifyToast__progressBar {
    background-color: $confirm-progressBar !important;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $confirm-progressBarPercentage !important;
  }
  .snotifyToast__body {
    color: $confirm-color !important;
  }
}

:host /deep/ .snotify-prompt {
  background-color: $prompt-bg !important;
  .snotifyToast__body {
    color: $prompt-color !important;
  }
}
