<div
  class="snotifyToast"
  [ngClass]="{
    'snotify-success': types.success,
    'snotify-warning': types.warning,
    'snotify-info': types.info,
    'snotify-error': types.error,
    'snotify-simple': types.simple,
    'snotify-async': types.async,
    'snotify-confirm': types.confirm,
    'snotify-prompt': types.prompt,
    'snotifyToast-show': state.toast.isShowing,
    'snotifyToast-remove': state.toast.isRemoving
  }"
  [ngStyle]="{
  'transition': 'transform ' + transitionTime + 'ms, opacity '+transitionTime/2+'ms, max-height ease '+transitionTime+'ms',
  'max-height': maxHeight + 'px'
  }"
  (click)="onClick()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="snotifyToast__inner">
    <div class="snotifyToast__progressBar" *ngIf="toast.config.showProgressBar">
      <span class="snotifyToast__progressBar__percentage" [ngStyle]="{'width': state.toast.progress + '%'}"></span>
    </div>
    <div class="snotifyToast__title">{{toast.title | truncate : toast.config.titleMaxLength}}</div>
    <div class="snotifyToast__body">{{toast.body | truncate : toast.config.bodyMaxLength}}</div>
    <span *ngIf="types.prompt" class="input"
          [ngClass]="{'input--filled': state.prompt.isPromptActive}"
          (mouseenter)="onPromptEnter()"
          (mouseleave)="onPromptLeave()">
        <input (input)="state.prompt.input = $event.target.value"
               class="input__field" type="text"
               [id]="toast.id"
               (focus)="state.prompt.isPromptFocused = true"
               (blur)="state.prompt.isPromptFocused = false; onPromptLeave()"/>
        <label class="input__label" [for]="toast.id">
          <span class="input__labelContent">{{toast.config.placeholder | truncate}}</span>
        </label>
      </span>
    <ng-snotify-icon *ngIf="!toast.config.icon; else elseBlock" class="snotify-icon" [types]="types"></ng-snotify-icon>
    <ng-template #elseBlock>
      <img class="snotify-icon" [src]='toast.config.icon' />
    </ng-template>
  </div>
  <ng-snotify-button *ngIf="toast.config.buttons" [buttons]="toast.config.buttons" [text]="types.prompt ? state.prompt.input : null"></ng-snotify-button>
</div>
