$simple-bg: #fff;
$simple-color: #000;
$simple-progressBar: #c7c7c7;
$simple-progressBarPercentage: #4c4c4c;


$success-bg: #4CAF50;
$success-color: #C8E6C9;
$success-progressBar: #388E3C;
$success-progressBarPercentage: #81c784;

$info-bg: #1e88e5;
$info-color: #e3f2fd;
$info-progressBar: #1565c0;
$info-progressBarPercentage: #64b5f6;

$warning-bg: #ff9800;
$warning-color: #fff3e0;
$warning-progressBar: #ef6c00;
$warning-progressBarPercentage: #ffcc80;

$error-bg: #f44336;
$error-color: #ffebee;
$error-progressBar: #c62828;
$error-progressBarPercentage: #ef9a9a;

$async-bg: $info-bg;
$async-color: $info-color;
$async-progressBar: $info-progressBar;
$async-progressBarPercentage: $info-progressBarPercentage;

$confirm-bg: #009688;
$confirm-color: #e0f2f1;
$confirm-progressBar: #4db6ac;
$confirm-progressBarPercentage: #80cbc4;

$prompt-bg: #009688;
$prompt-color: #e0f2f1;

:host {
  display: block;
  cursor: pointer;
}

.snotifyToast {
  background-color: $simple-bg;
  max-height: 300px;
  height: 100%;
  margin: 5px;
  opacity: 0;
  transform: translate(0, -50%);
  border-radius: 5px;
  overflow: hidden;

  &__inner {
    position: relative;
    padding: 10px 65px 10px 15px;
    font-size: 16px;
    color: $simple-color;
  }

  &__progressBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: $simple-progressBar;

    &__percentage {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      background-color: $simple-progressBarPercentage;
      max-width: 100%;
    }

    + .snotifyToast__title {
      margin-top: 5px;
    }

    ~ .snotifyToast-icon {
      margin-top: 5px;
    }
  }

  &__title {
    font-size: 1.8em;
    margin-bottom: 5px;
    color: #fff;
  }

  &__body {
    font-size: 1em;
  }

}

.snotifyToast-show {
  transform: translate(0, 0);
  opacity: 1;
}

.snotifyToast-remove {
  max-height: 0;
  overflow: hidden;
  transform: translate(0, 50%);
  opacity: 0;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: top;
  transition: all .5s;
  transition-delay: .3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.85em 0.5em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #333;
    font-weight: bold;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    opacity: 0;
    transition: opacity 0.3s;

    &:focus {
      outline: none;
    }
  }

  &__label {
    display: inline-block;
    float: right;
    padding: 0 0.85em;
    width: 100%;
    color: #e0f2f1;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: left;
    pointer-events: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.3s;
    }

    &::before {
      border-top: 2px solid #fff;
      transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
      transition-delay: 0.3s;
    }

    &::after {
      z-index: -1;
      background: #b2dfdb;
      transform: scale3d(1, 0, 1);
      transform-origin: 50% 0;
    }
  }

  &__labelContent {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    transition: transform 0.3s 0.3s;
  }

}

.input--filled {
  margin-top: 1.5em;

  &:focus,
  .input__field {
    opacity: 1;
    transition-delay: 0.3s;
  }
}


.input__field:focus + .input__label .input__labelContent,
.input--filled .input__labelContent {
  transform: translate(0, -80%);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  transition-delay: 0s;
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  transform: translate(0, 0);
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  transform: scale(1, 1);
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


/***************
 ** Modifiers **
 **************/

.snotify-simple {
  .snotifyToast__title,
  .snotifyToast__body {
    color: $simple-color;
  }
}

.snotify-success {
  background-color: $success-bg;
  .snotifyToast__progressBar {
    background-color: $success-progressBar;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $success-progressBarPercentage;
  }
  .snotifyToast__body {
    color: $success-color;
  }
}

.snotify-info {
  background-color: $info-bg;
  .snotifyToast__progressBar {
    background-color: $info-progressBar;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $info-progressBarPercentage;
  }
  .snotifyToast__body {
    color: $info-color;
  }

}

.snotify-warning {
  background-color: $warning-bg;
  .snotifyToast__progressBar {
    background-color: $warning-progressBar;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $warning-progressBarPercentage;
  }
  .snotifyToast__body {
    color: $warning-color;
  }


}

.snotify-error {
  background-color: $error-bg;
  .snotifyToast__progressBar {
    background-color: $error-progressBar;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $error-progressBarPercentage;
  }
  .snotifyToast__body {
    color: $error-color;
  }
}

.snotify-async {
  background-color: $async-bg;
  .snotifyToast__progressBar {
    background-color: $async-progressBar;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $async-progressBarPercentage;
  }
  .snotifyToast__body {
    color: $async-color;
  }

}

.snotify-confirm {
  background-color: $confirm-bg;
  .snotifyToast__progressBar {
    background-color: $confirm-progressBar;
  }
  .snotifyToast__progressBar__percentage {
    background-color: $confirm-progressBarPercentage;
  }
  .snotifyToast__body {
    color: $confirm-color;
  }
}

.snotify-prompt {
  background-color: $prompt-bg;
  .snotifyToast__inner {
    padding: 10px 15px;
  }
  .snotifyToast__title {
    margin-bottom: 0;
  }
  .snotifyToast__body {
    color: $prompt-color;
  }
}

.snotify-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 0;
  transform: translate(0, -50%);
  max-height: 48px;
  max-width: 48px;
}
