<div
  class="snotifyToast animated"
  [ngClass]="['snotify-' + toast.config.type, state.toast.animation]"
  [ngStyle]="{
  'max-height': maxHeight + 'px',
  '-webkit-transition': state.toast.time + 300 + 'ms',
  transition: state.toast.time + 300 + 'ms',
  '-webkit-animation-duration': state.toast.time + 'ms',
  'animation-duration': state.toast.time + 'ms'
  }"
  (animationend)="onExitTransitionEnd()"
  (click)="onClick()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" #toastEl>
  <div class="snotifyToast__progressBar" *ngIf="toast.config.showProgressBar">
    <span class="snotifyToast__progressBar__percentage" [ngStyle]="{'width': state.toast.progress + '%'}"></span>
  </div>
  <div class="snotifyToast__inner" *ngIf="!toast.config.html; else toastHTML">
    <div class="snotifyToast__title" *ngIf="toast.title">{{toast.title | truncate : toast.config.titleMaxLength}}</div>
    <div class="snotifyToast__body" *ngIf="toast.body">{{toast.body | truncate : toast.config.bodyMaxLength}}</div>
    <ng-snotify-prompt *ngIf="state.toast.type === state.promptType"
                       [placeholder]="toast.config.placeholder"
                       (valueChanged)="onPromptChanged($event)">
    </ng-snotify-prompt>
    <ng-snotify-icon *ngIf="!toast.config.icon; else elseBlock" class="snotify-icon" [type]="state.toast.type"></ng-snotify-icon>
    <ng-template #elseBlock>
      <img class="snotify-icon" [src]='toast.config.icon' />
    </ng-template>
  </div>
  <ng-template #toastHTML>
    <div class="snotifyToast__inner" [innerHTML]="toast.config.html"></div>
  </ng-template>
  <ng-snotify-button *ngIf="toast.config.buttons" [buttons]="toast.config.buttons" [text]="state.toast.type === state.promptType ? state.prompt : null" [id]="toast.id"></ng-snotify-button>
</div>
