$backdrop-color: #000000;

:host {
  display: block;
  position: fixed;
  width: 300px;
  z-index: 9999;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

:host(.snotify-leftTop),
:host(.snotify-leftCenter),
:host(.snotify-leftBottom) {
  left: 10px;
}

:host(.snotify-rightTop),
:host(.snotify-rightCenter),
:host(.snotify-rightBottom) {
  right: 10px;
}

:host(.snotify-centerTop),
:host(.snotify-centerCenter),
:host(.snotify-centerBottom) {
  left: calc(50% - 300px/2);
}

:host(.snotify-leftTop),
:host(.snotify-rightTop),
:host(.snotify-rightTop) {
  top: 10px;
}
:host(.snotify-leftCenter),
:host(.snotify-rightCenter),
:host(.snotify-centerCenter) {
  top: 50%;
  transform: translateY(-50%);
}
:host(.snotify-leftBottom),
:host(.snotify-rightBottom),
:host(.snotify-centerBottom) {
  bottom: 10px;
}

.snotify-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $backdrop-color;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
}
