<div
  class="snotify-toast"
  [ngClass]="{
    'snotify-success': types.success,
    'snotify-warning': types.warning,
    'snotify-info': types.info,
    'snotify-error': types.error,
    'snotify-bare': types.bare
  }"
     (click)="onClick()" #wrapper>
  <div class="snotify-toast__inner">
    <div class="snotify-progress-bar" *ngIf="config.showProgressBar">
      <span class="snotify-progress-bar__line" #progress></span>
    </div>
    <div class="snotify-title">{{toast.title}}</div>
    <div class="snotify-body">{{toast.body}}</div>
    <app-icon class="snotify-icon" [types]="types"></app-icon>
  </div>
</div>
