:host {
  display: block;
  cursor: pointer;
}

.snotify-toast {
  background-color: #999;
  max-height: 300px;
  height: 100%;
  margin: 5px;
  opacity: 0;
  transition: transform .4s, opacity .2s, max-height ease .4s;
  transform: translate(0, -50%);
  border-radius: 5px;
  overflow: hidden;
}

.snotify-toast__inner {
  position: relative;
  padding: 10px 85px 10px 15px;
  font-size: 16px;
}

.snotify-show {
  transform: translate(0, 0);
  opacity: 1;
}

.snotify-remove {
  max-height: 0;
  overflow: hidden;
  transform: translate(0, 50%);
  opacity: 0;
}

.snotify-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: rgba(0, 0, 0, .1);
}

.snotify-progress-bar__line {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: #000;
  max-width: 100%;
}

.snotify-progress-bar + .snotify-title {
  margin-top: 5px;
}

.snotify-progress-bar ~ .snotify-icon {
  margin-top: 5px;
}

.snotify-title {
  color: #FFFFFF;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.snotify-body {
  font-size: 1em;
}

/*Success*/
.snotify-success {
  background-color: #4CAF50;
}

.snotify-success .snotify-progress-bar {
  background-color: #388E3C;
}

.snotify-success .snotify-progress-bar__line {
  background-color: #81c784;
}

.snotify-success .snotify-body {
  color: #C8E6C9;
}

/*Info*/
.snotify-info {
  background-color: #1e88e5;
}

.snotify-info .snotify-progress-bar {
  background-color: #1565c0;
}

.snotify-info .snotify-progress-bar__line {
  background-color: #64b5f6;
}

.snotify-info .snotify-body {
  color: #e3f2fd;
}

/*Warning*/
.snotify-warning {
  background-color: #ff9800;
}

.snotify-warning .snotify-progress-bar {
  background-color: #ef6c00;
}

.snotify-warning .snotify-progress-bar__line {
  background-color: #ffcc80;
}

.snotify-warning .snotify-body {
  color: #fff3e0;
}

/*Warning*/
.snotify-error {
  background-color: #f44336;
}

.snotify-error .snotify-progress-bar {
  background-color: #c62828;
}

.snotify-error .snotify-progress-bar__line {
  background-color: #ef9a9a;
}

.snotify-error .snotify-body {
  color: #ffebee;
}
